@tailwind base;
@tailwind components;
@tailwind utilities;
.px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    background-color: #1b2755;
}
.py-10 {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    background-color: rgb(57, 9, 101);
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(6px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.35s ease-out;
}
